$ourPrimary: #2BCBBA !default;
$ourSuccess: #50D8AE !default;
$ourInfo: #77E39E !default;
$ourWarning: #A0EC8C !default;
$ourDanger: #CBF47C !default;
$ourInverse: #F9F871 !default;
$primaryDarken: #00A292 !default;
$grayFriend: #96B1AC !default;
$pinkFriend: #FC7CE7 !default;



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden; // horizontal scroll is not allowed
}

em {
  color: $ourPrimary;
}

strong {
  color: $primaryDarken;
}



// NAVBAR


.navbar {
  // border-left: $ourPrimary solid 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  background: #fff;
  box-shadow: none;
  opacity: 0.95;
  z-index: 9999;
  transition: all 0.3s;
  img {
    width: 75%; // 85%
    height: auto;
  }
}

.navbar.shrink {
  // border-left: none;
  padding-top: 0;
  padding-bottom: 0;
  background: #fff;
  box-shadow: 0px 2px 2px $ourPrimary;
  opacity: 0.85;
  img {
    width: 75%;
    height: auto;
  }
}

nav {
  .nav-item a:link,
  .nav-item a:visited {
    font-size: 120%;
    text-decoration: none;
    // text-transform: uppercase;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
  }

  .nav-item a:hover,
  .nav-item a:active {
    border-bottom: 2px solid $ourInverse;
  }
}



// HEADER
#header {
  background-image: linear-gradient(rgba(43, 203, 186, 0.4), rgba(43, 203, 186, 0.4)), url('../img/waterfall.jpeg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  h1 {
    margin-bottom: -70px;
    margin-right: 30px;
  }

  .list-group-item {
    background-color: transparent !important;
    display: list-item;
    border: none !important;
    font-size: 90%;
    margin-left: -20px;
  }
}



// TOURS SECTION

#offers {
  .display-4 {
    color: $primaryDarken;
  }
}

#guarantee {
  .fa {
    color: $primaryDarken;
  }

  img {
    width: auto;
    height: 100%;
  }
}

#tours {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/city.jpg');
  background-size: cover;
  background-position: center;
  height: 100%;
  background-attachment: fixed;
}



// TESTIMONIALS

#testimonials {
  .display-4 {
    color: $primaryDarken;
  }

  blockquote {
    padding: 5%;
    font-style: italic;
    line-height: 145%;
    margin-top: 10px;
    border-left: none;
  }
  
  blockquote:before {
    content: "\f10d"; 
    font-family: FontAwesome;
    float: left;
    margin-right: 10px;
    color: $primaryDarken;
  }
}



// SWEATER

// #sweater {
//   img {
//     width: auto;
//     height: 100%;
//   }

//   .blockquote {
//     border-color: $pinkFriend;
//   }
// }

#contact {
  img {
    width: 100%;
    height: auto;
  }

  .blockquote {
    border-color: $pinkFriend;
    font-size: 100%; // 125% is the default value
  }
}



// FOOTER

#footer {
  font-size: 120%;

  .social-links {
    list-style: none;
  }
  
  .social-links li {
   display: inline-block;
   margin-right: 20px;
  }
  
  .social-links li:last-child {
    margin-right: 0;
  }

  .made-by {
    color: $ourPrimary;
  }
}



// BACK TO TOP

.back-to-top {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 100;
  display: none;
  text-decoration: none;
  color: $pinkFriend;
}

.back-to-top i {
  font-size: 300%;
}





// RESPONSIVNESS (MEDIA QUERIES)

/* Big tablets (widths smaller than the 1140px row): from 1024px to 1200px */
@media only screen and (max-width: 1200px) {

}

/* Small tablets in portrait mode to big tablets: from 768px to 1023px */
@media only screen and (max-width: 1023px) {
  nav .container{
    width: 100%; // so the hamburger icon won't overlay the navbrand
  }

  #guarantee {
    .list-group-item {
      font-size: 90%;
    }

    .fa {
      color: $primaryDarken;
    }
  
    img {
      width: auto;
      height: 90%;
    }
  }

  #testimonials {
    blockquote {
      padding: 2%;
      line-height: 125%;
    }
  }

  #contact {
    .display-4{
      font-size:300%; // 350% is the default value
    }

    img {
      width: 90%;
      height: auto;
    }
  }
}

/* Larger phones to small tablets: from 481px to 767px */
@media only screen and (max-width: 767px) {
  nav .container{
    width: 100%; // so the hamburger icon won't overlay the navbrand
  }

  #contact {
    .display-4{
      font-size: 280%; // 350% is the default value
    }

    img {
      width: 50%;
      height: auto;
    }
  }
  .display-1 {
    font-size: 500%; // 600% is the default value
  }
  .display-2 {
    font-size: 400%; // 550% is the default value
  }

  .display-4 {
    font-size: 280%; // 350% is the default value
  }
}

/* Small phones: from 0 to 480px */
@media only screen and (max-width: 480px) {

  nav .container{
    width: 100%; // so the hamburger icon won't overlay the navbrand
  }

  #header {
    h1 {
      margin: 5px 0;
      font-size: 400%;
      text-align: left !important;
    }
  }

  #contact {
    .display-4{
      font-size: 200%; // 350% is the default value
    }

    img {
      width: 75%;
      height: auto;
    }
  }

  .display-1 {
    font-size: 400%; // 600% is the default value
  }
  .display-2 {
    font-size: 300%; // 550% is the default value
  }

  .display-4 {
    font-size: 200%; // 350% is the default value
  }

  .lead {
    font-size: 100%; // 125% is the default value
  }
}